<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recipe-manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flex w-screen h-screen font-sans bg-slate-900 text-slate-400">
<div class="flex-shrink-0 p-5 w-64 border-r border-slate-700">
    <div class="mb-4">
        <a href="/"><img src="/svg/logo.svg" alt="logo"></a>
    </div>
    <div class="font-bold text-sm">
        <a class="flex items-center p-2 rounded-md hover:bg-slate-800 hover:text-white" href="/">
            <img class="mr-2" src="/svg/recipes.svg" alt="recipes">
            Recipes
        </a>
    </div>
</div>
<div class="flex flex-col grow">
    <div class="flex items-center p-4 h-16 border-b border-slate-700">
        <form class="flex items-center grow mr-2 p-2 space-x-2" action="">
            <img src="/svg/search.svg" alt="search">
            <label class="grow">
                <input class="w-full bg-slate-900 text-sm focus:outline-none" type="search" name=""
                       id=""
                       placeholder="Search...">
            </label>
        </form>
        <a class="flex items-center p-2 bg-sky-500 rounded-md text-sm text-white hover:bg-sky-400" href="/">
            <img class="mr-2" src="/svg/new.svg" alt="new">
            New
        </a>
    </div>
    <div class="grow overflow-y-auto m-5 p-5 space-y-5 border border-slate-700 rounded-xl">
        <div class="border border-slate-700 rounded-md">
            <div class="flex items-center p-5 border-b border-slate-700">
                <p class="grow font-bold"></p>
                <a class="flex items-center mr-5 p-2 bg-sky-500 rounded-md text-sm text-white hover:bg-sky-400"
                   href="/">
                    <img class="mr-2" src="/svg/edit.svg" alt="edit">
                    Edit
                </a>
                <a class="flex items-center p-2 bg-sky-500 rounded-md text-sm text-white hover:bg-sky-400" href="/">
                    <img class="mr-2" src="/svg/delete.svg" alt="delete">
                    Delete
                </a>
            </div>
            <p class="p-5"></p>
        </div>
    </div>
</div>
</body>
</html>